name: dev-deploy
on:
  push:
    branches:
      - 'main'
      - 'ci-dev'
  workflow_dispatch:
jobs:
  push-to-steam:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Convert save file to BSON
        shell: cmd
        run: |
          npm install bson
          node .\script\workshopPrep.js
      - name: steam-workshop-legacy-upload
        shell: cmd
        run: |
          "C:\Program Files (x86)\kpsteam\kpsteam.exe" upload --legacy --app 286160 --item 2817359776 --path ".\mod\MarvelChampions.bson"